.heading
{
    font-family: 'Open sans' , sans-serif;
}
.heading h2{
    font-size: 5rem;
    font-weight: 900;
    color: #f1f1ff;
}


.heading h3
{
    font-size: 2.5rem;
    font-weight: 900;
    
    
    
}
.food-icon
{
    color: brown;
    
}

/* start feid */

.feid{
    background-color: #00ffff4d;
}
.feid .card-deck{
    padding: 40px;
}
.feid h5{
    color: #dc3545;
    font-size: 30px;
    font-weight: bold;
}
.feid small{
    color: #007bff !important;
    font-size: 20px;
    letter-spacing: 10px;
}



/* end feid */