
/* about header*/

.heading
{
    font-family: 'Open sans' , sans-serif;
}
.heading h2{
    font-size: 5rem;
    font-weight: 900;
    color: #f1f1ff;
}


.heading h3
{
    font-size: 2.5rem;
    font-weight: 900;
    
    
    
}
.food-icon
{
    color: brown;
    
}
/* abdelrahman section*/
.warm-color
{
    background-size: 200% 100%;
    background-image: linear-gradient(to right , transparent 50% , #FF905A 50%);
    transition: .7s background-position ;
}
.warm-color:hover
{
    background-position: -100% 0%;
}
.for-you
{
    
    background-size: 200% 100%;

    background-image: linear-gradient(to right , #FF905A 50% , white 50%);
    color:#F6DDDF;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    border-radius: 30%;
  transition: 1s background-position , 1s color ;
}
.for-you i
{
    font-size: 40px;
}
.warm-color:hover .for-you
{
    color: #FF905A;
    background-position: -100% 0%;
   
    
}

/*end of abdelrahman section*/